html {
  scroll-behavior: smooth;
}

/*Not Found aaaa*/

.NotFound {
  color: #00a2ed;
  padding: 12vh;
  margin: 10vh;
}

/* Landing Page */

.Landing {
  height: 100vh;
  padding-top: 2em;
  padding-left: 2em;
  padding-bottom: 2em;
  font-size: calc(10px + 2vmin);
}

.Landing-text {
  font-size: 3vw;
  /* margin: 2em; */
  text-align: left;
  color: rgb(77, 77, 78);
}

.design-text {
  font-family: fantasy;
  font-weight: bold;
  color: #5649e7;
}

.build-text {
  font-family: 'Montserrat';
  color: rgb(49, 49, 49);
}

.brainstorm-text {
  font-family: monospace;
  font-weight: bold;
  color: rgb(255, 150, 168);
}

.customer-image {
  float: right;
  margin-top: 2em;
  border-radius: 20px 2px 2px 20px;
  filter: drop-shadow(0px 0px 7px rgba(155, 155, 155, 0.548));
  aspect-ratio: 16 / 9;
  width: 100%;
}

/*Header*/

.Header {
  display: flex;
  background-color: white;
  background-blend-mode: lighten;
}

/*About*/

.About {
  height: 80vh;
  align-content: center;
  padding: 3em;
  font-size: 3vw;
  color: paleturquoise;
  /* font-size: calc(10px + 2vmin); */
}

.About-text {
  font-size: 3vh;
  /* margin: 2em; */
  text-align: left;
  color: rgb(77, 77, 78);
}

/*Whiteboard Room*/

.outline-slider {
  /* outline: 2px dashed rgb(213, 230, 241); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.outline-check {
  /* outline: 2px dashed rgb(213, 230, 241); */
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.Whiteboard {
  height: 70vh;
  width: 100%;
  margin: 1vw;
  padding: 1em;
  border: #5649e7;
  border-radius: 10px;
  outline: 2px dashed rgb(213, 230, 241);
  box-shadow: 0px 0px 15px #e7e6e6;
  overflow: hidden;
  /* box-shadow: -5px -5px 15px #e7e6e6; */
}

.Form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Whiteboard-controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border: #5649e7;
  border-radius: 20px;
  /* outline: 1px solid orange; */
}

.Room {
  padding-top: 3vh;
  padding-left: 2vh;
  padding-right: 6vh;
}

/*Room Generation*/

.JoinRoom {
  text-align: center;
  margin: 3vh;
  color: rgb(77, 77, 78);
}

.CreateRoom {
  text-align: center;
  margin: 3vh;
  color: rgb(77, 77, 78);
  padding-bottom: 2em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}